body {
    background: lightgrey;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.blue {
    background: lightskyblue;
    color: white;
}

#list {
    list-style: none;
}

.listItem {
    margin: 5px 10px;
}