body {
    background: lightslategray;
}

.container {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    border: 3px solid black;
    /* position: static; */
    margin: 20px 20px;
    padding: 10px 10px;
    height: 300px;
    width: 300px;
    text-align: center;
    
}

#one {
    /* position: relative;
    left: 150px; */
}